<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Araç Kiralama Uygulaması</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</header>

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="cars" aria-current="page" href="#">
              <span data-feather="home"></span>
              <i class="fas fa-car"></i> Arabalar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="brands" routerLinkActive="active">
              <span data-feather="file"></span>
              <i class="fab fa-bandcamp"></i>  Markalar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="colors" routerLinkActive="active">
              <span data-feather="shopping-cart"></span>
              <i class="fas fa-palette"></i>  Renkler
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="customers" routerLinkActive="active">
              <span data-feather="users"></span>
              <i class="fab fa-intercom"></i>  Müşteriler
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="rentals" routerLinkActive="active">
              <span data-feather="bar-chart-2"></span>
              <i class="fas fa-money-check-alt"></i>  Kiralananlar
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

